<% for student in @students %>
  <p>Name : <%= student.pretty_name() %>
   </p>
   <p>Age: <%= student.age() %></p>
  <p><img src="<%= student.house().logo() %>" alt="house shield">    </p>

<hr />
<% end %>
