<!DOCTYPE html>
<html>
<head>
  <title>
  Hogwarts Houses
  </title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <hr>
  <nav>
    <a href="/">Home</a>
    <br>
    <a href="/students-houses">Student Houses</a>
    <br>
    <a href="/new">Create a new student</a>

  </nav>
  <main>
  <%= yield %>
  </main
</body>

</html>
