<!DOCTYPE html>
<html>
<head>
  <title>
  Hogwarts Houses
  </title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <hr>
  <nav>

     <!-- <a href="/pizza-orders">Pizza Orders</a>
     <a href="/pizza-orders/new">Make an Order</a>
     <a href="/pizza-orders/home">HOME</a> -->

  </nav>
  <main>
  <%= yield %>
  </main
</body>

</html>
